.elementor-457 .elementor-element.elementor-element-b1f340f:not(.elementor-motion-effects-element-type-background),
.elementor-457 .elementor-element.elementor-element-b1f340f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0E0E0E;
}

.elementor-457 .elementor-element.elementor-element-b1f340f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 114px 0px 108px 0px;
}

.elementor-457 .elementor-element.elementor-element-b1f340f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-457 .elementor-element.elementor-element-b1f340f a {
    color: #FFFFFF;
}

.elementor-457 .elementor-element.elementor-element-b1f340f a:hover {
    color: #FF7425;
}

.elementor-457 .elementor-element.elementor-element-1305736 {
    text-align: left;
}

.elementor-457 .elementor-element.elementor-element-1305736 img {
    width: 70px;
}

.elementor-457 .elementor-element.elementor-element-1305736>.elementor-widget-container {
    margin: 8px 0px 0px 0px;
}

.elementor-457 .elementor-element.elementor-element-82db278>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-457 .elementor-element.elementor-element-24b445d .elementor-heading-title {
    color: #FFFFFF;
    font-size: 20px;
}

.elementor-457 .elementor-element.elementor-element-a388f36 .elementor-spacer-inner {
    --spacer-size: 19px;
}

.elementor-457 .elementor-element.elementor-element-77a67ce .wgl-button {
    font-family: "DM Sans", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    padding: 10px 0px 10px 0px;
    color: #FFFFFF;
    background-color: #FFFFFF00;
}

.elementor-457 .elementor-element.elementor-element-77a67ce.has-animated-bg .wgl-button::after {
    background-color: #FFFFFF00;
}

.elementor-457 .elementor-element.elementor-element-77a67ce.has-animated-bg .wgl-button {
    background-color: transparent !important;
}

.elementor-457 .elementor-element.elementor-element-77a67ce .wgl-button:hover,
.elementor-457 .elementor-element.elementor-element-77a67ce .wgl-button:focus {
    color: var( --e-global-color-primary);
    background-color: #FFFFFF00;
}

.elementor-457 .elementor-element.elementor-element-77a67ce.has-animated-bg .wgl-button:hover::after,
.elementor-457 .elementor-element.elementor-element-77a67ce.has-animated-bg .wgl-button:focus::after {
    background-color: #FFFFFF00;
}

.elementor-457 .elementor-element.elementor-element-77a67ce .elementor-icon {
    color: #FFFFFF;
}

.elementor-457 .elementor-element.elementor-element-77a67ce .wgl-button:hover .elementor-icon,
.elementor-457 .elementor-element.elementor-element-77a67ce .wgl-button:focus .elementor-icon {
    color: var( --e-global-color-primary);
}

.elementor-457 .elementor-element.elementor-element-77a67ce>.elementor-widget-container {
    margin: 0px 0px 4px 0px;
}

.elementor-457 .elementor-element.elementor-element-3fe46aa .wgl-button {
    font-family: "DM Sans", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    padding: 10px 0px 10px 0px;
    color: #FFFFFF;
    background-color: #FFFFFF00;
}

.elementor-457 .elementor-element.elementor-element-3fe46aa.has-animated-bg .wgl-button::after {
    background-color: #FFFFFF00;
}

.elementor-457 .elementor-element.elementor-element-3fe46aa.has-animated-bg .wgl-button {
    background-color: transparent !important;
}

.elementor-457 .elementor-element.elementor-element-3fe46aa .wgl-button:hover,
.elementor-457 .elementor-element.elementor-element-3fe46aa .wgl-button:focus {
    color: var( --e-global-color-primary);
    background-color: #FFFFFF00;
}

.elementor-457 .elementor-element.elementor-element-3fe46aa.has-animated-bg .wgl-button:hover::after,
.elementor-457 .elementor-element.elementor-element-3fe46aa.has-animated-bg .wgl-button:focus::after {
    background-color: #FFFFFF00;
}

.elementor-457 .elementor-element.elementor-element-3fe46aa .elementor-icon {
    color: #FFFFFF;
}

.elementor-457 .elementor-element.elementor-element-3fe46aa .wgl-button:hover .elementor-icon,
.elementor-457 .elementor-element.elementor-element-3fe46aa .wgl-button:focus .elementor-icon {
    color: var( --e-global-color-primary);
}

.elementor-457 .elementor-element.elementor-element-3fe46aa>.elementor-widget-container {
    margin: 0px 0px 4px 0px;
}

.elementor-457 .elementor-element.elementor-element-32c9ab5 .wgl-button {
    font-family: "DM Sans", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    padding: 10px 0px 10px 0px;
    color: #FFFFFF;
    background-color: #FFFFFF00;
}

.elementor-457 .elementor-element.elementor-element-32c9ab5.has-animated-bg .wgl-button::after {
    background-color: #FFFFFF00;
}

.elementor-457 .elementor-element.elementor-element-32c9ab5.has-animated-bg .wgl-button {
    background-color: transparent !important;
}

.elementor-457 .elementor-element.elementor-element-32c9ab5 .wgl-button:hover,
.elementor-457 .elementor-element.elementor-element-32c9ab5 .wgl-button:focus {
    color: var( --e-global-color-primary);
    background-color: #FFFFFF00;
}

.elementor-457 .elementor-element.elementor-element-32c9ab5.has-animated-bg .wgl-button:hover::after,
.elementor-457 .elementor-element.elementor-element-32c9ab5.has-animated-bg .wgl-button:focus::after {
    background-color: #FFFFFF00;
}

.elementor-457 .elementor-element.elementor-element-32c9ab5 .elementor-icon {
    color: #FFFFFF;
}

.elementor-457 .elementor-element.elementor-element-32c9ab5 .wgl-button:hover .elementor-icon,
.elementor-457 .elementor-element.elementor-element-32c9ab5 .wgl-button:focus .elementor-icon {
    color: var( --e-global-color-primary);
}

.elementor-457 .elementor-element.elementor-element-32c9ab5>.elementor-widget-container {
    margin: 0px 0px 4px 0px;
}

.elementor-457 .elementor-element.elementor-element-0b302a5 .wgl-button {
    font-family: "DM Sans", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    padding: 10px 0px 10px 0px;
    color: #FFFFFF;
    background-color: #FFFFFF00;
}

.elementor-457 .elementor-element.elementor-element-0b302a5.has-animated-bg .wgl-button::after {
    background-color: #FFFFFF00;
}

.elementor-457 .elementor-element.elementor-element-0b302a5.has-animated-bg .wgl-button {
    background-color: transparent !important;
}

.elementor-457 .elementor-element.elementor-element-0b302a5 .wgl-button:hover,
.elementor-457 .elementor-element.elementor-element-0b302a5 .wgl-button:focus {
    color: var( --e-global-color-primary);
    background-color: #FFFFFF00;
}

.elementor-457 .elementor-element.elementor-element-0b302a5.has-animated-bg .wgl-button:hover::after,
.elementor-457 .elementor-element.elementor-element-0b302a5.has-animated-bg .wgl-button:focus::after {
    background-color: #FFFFFF00;
}

.elementor-457 .elementor-element.elementor-element-0b302a5 .elementor-icon {
    color: #FFFFFF;
}

.elementor-457 .elementor-element.elementor-element-0b302a5 .wgl-button:hover .elementor-icon,
.elementor-457 .elementor-element.elementor-element-0b302a5 .wgl-button:focus .elementor-icon {
    color: var( --e-global-color-primary);
}

.elementor-457 .elementor-element.elementor-element-0b302a5>.elementor-widget-container {
    margin: 0px 0px 4px 0px;
}

.elementor-457 .elementor-element.elementor-element-abcd467 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 20px;
}

.elementor-457 .elementor-element.elementor-element-e7b0eb4 {
    color: #FFFFFF;
    font-size: 18px;
}

.elementor-457 .elementor-element.elementor-element-e7b0eb4>.elementor-widget-container {
    margin: -4px 0px 0px 0px;
}

.elementor-457 .elementor-element.elementor-element-bbe43f6 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 20px;
}

.elementor-457 .elementor-element.elementor-element-bbe43f6>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-457 .elementor-element.elementor-element-4587a37 .wpcf7-form-control-wrap,
.elementor-457 .elementor-element.elementor-element-4587a37 .wpcf7-form-control.wpcf7-submit {
    display: inline-block;
    vertical-align: top;
}

.elementor-457 .elementor-element.elementor-element-4587a37 .wpcf7-form-control-wrap+br {
    display: none;
}

.elementor-457 .elementor-element.elementor-element-4587a37 .wpcf7-form-control-wrap {
    width: 84%;
}

.elementor-457 .elementor-element.elementor-element-4587a37 input[type="text"]:focus,
.elementor-457 .elementor-element.elementor-element-4587a37 input[type="url"]:focus,
.elementor-457 .elementor-element.elementor-element-4587a37 input[type="search"]:focus,
.elementor-457 .elementor-element.elementor-element-4587a37 input[type="email"]:focus,
.elementor-457 .elementor-element.elementor-element-4587a37 input[type="password"]:focus,
.elementor-457 .elementor-element.elementor-element-4587a37 input[type="tel"]:focus,
.elementor-457 .elementor-element.elementor-element-4587a37 input[type="time"]:focus,
.elementor-457 .elementor-element.elementor-element-4587a37 input[type="number"]:focus,
.elementor-457 .elementor-element.elementor-element-4587a37 input[type="date"]:focus,
.elementor-457 .elementor-element.elementor-element-4587a37 select:focus,
.elementor-457 .elementor-element.elementor-element-4587a37 textarea:focus {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF1A;
}

.elementor-457 .elementor-element.elementor-element-4587a37 .wpcf7-submit {
    font-size: 20px;
    line-height: 55px;
    min-width: 16%;
    height: auto;
    padding: 0px 0px 0px 36px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF1A;
}

.elementor-457 .elementor-element.elementor-element-4587a37 .wgl-button.has-animated-bg .wpcf7-submit {
    padding: 0;
}

.elementor-457 .elementor-element.elementor-element-4587a37 .wpcf7-submit,
.elementor-457 .elementor-element.elementor-element-4587a37 .wgl-button.has-animated-bg:before {
    background-color: #02010100;
}

.elementor-457 .elementor-element.elementor-element-4587a37 .wpcf7-submit:hover {
    color: #FF7425;
}

.elementor-457 .elementor-element.elementor-element-4587a37 .wpcf7-response-output {
    margin: 20px 0px 45px 0px;
}

.elementor-457 .elementor-element.elementor-element-4587a37>.elementor-widget-container {
    margin: 0px 0px -22px 0px;
}

.elementor-457 .elementor-element.elementor-element-cb2315f {
    color: #888888;
    font-size: 14px;
    line-height: 1.71em;
}

.elementor-457 .elementor-element.elementor-element-711b19f {
    text-align: left;
    --icon-size: 16px;
}

.elementor-457 .elementor-element.elementor-element-711b19f .elementor-icon {
    background-color: #02010100;
}

.elementor-457 .elementor-element.elementor-element-711b19f .elementor-icon:hover i {
    color: #FF7425;
}

.elementor-457 .elementor-element.elementor-element-711b19f .elementor-icon:hover svg {
    fill: #FF7425;
}

.elementor-457 .elementor-element.elementor-element-711b19f .elementor-icon:not(:last-child) {
    margin-right: 10px;
}

.elementor-457 .elementor-element.elementor-element-711b19f>.elementor-widget-container {
    margin: 5px 0px 0px -8px;
}

.elementor-457 .elementor-element.elementor-element-5da0fab:not(.elementor-motion-effects-element-type-background),
.elementor-457 .elementor-element.elementor-element-5da0fab>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0E0E0E;
}

.elementor-457 .elementor-element.elementor-element-5da0fab {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #FFFFFF1A;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 20px 0px;
}

.elementor-457 .elementor-element.elementor-element-5da0fab>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-457 .elementor-element.elementor-element-5da0fab a {
    color: #888888;
}

.elementor-457 .elementor-element.elementor-element-5da0fab a:hover {
    color: #FF7425;
}

.elementor-457 .elementor-element.elementor-element-f05e6d4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-457 .elementor-element.elementor-element-91405f2 {
    color: #888888;
}

.elementor-457 .elementor-element.elementor-element-5c5afde>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-457 .elementor-element.elementor-element-9db9095 {
    color: #888888;
    width: auto;
    max-width: auto;
}

.elementor-457 .elementor-element.elementor-element-654c448>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-457 .elementor-element.elementor-element-fe82ddb {
    color: #888888;
    width: auto;
    max-width: auto;
}

@media(max-width:1200px) {
    .elementor-457 .elementor-element.elementor-element-b1f340f {
        padding: 70px 0px 70px 0px;
    }
    .elementor-457 .elementor-element.elementor-element-f54380c>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-457 .elementor-element.elementor-element-1c6beed>.elementor-element-populated {
        margin: 40px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-457 .elementor-element.elementor-element-4587a37 .wpcf7-form-control-wrap {
        width: 91%;
    }
    .elementor-457 .elementor-element.elementor-element-4587a37 .wpcf7-submit {
        min-width: 9%;
    }
    .elementor-457 .elementor-element.elementor-element-f05e6d4>.elementor-element-populated {
        margin: 0px 0px 15px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width:767px) {
    .elementor-457 .elementor-element.elementor-element-b1f340f {
        padding: 70px 0px 70px 0px;
    }
    .elementor-457 .elementor-element.elementor-element-30eec59>.elementor-element-populated {
        margin: 40px 0px 10px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-457 .elementor-element.elementor-element-4587a37 .wpcf7-submit {
        height: auto;
        padding: 0px 0px 0px 0px;
    }
    .elementor-457 .elementor-element.elementor-element-4587a37 .wgl-button.has-animated-bg .wpcf7-submit {
        padding: 0;
    }
    .elementor-457 .elementor-element.elementor-element-91405f2 {
        text-align: center;
    }
    .elementor-457 .elementor-element.elementor-element-5c5afde {
        width: 50%;
    }
    .elementor-457 .elementor-element.elementor-element-5c5afde.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-457 .elementor-element.elementor-element-654c448 {
        width: 50%;
    }
}

@media(min-width:768px) {
    .elementor-457 .elementor-element.elementor-element-f54380c {
        width: 16.666%;
    }
    .elementor-457 .elementor-element.elementor-element-82db278 {
        width: 25%;
    }
    .elementor-457 .elementor-element.elementor-element-30eec59 {
        width: 25%;
    }
    .elementor-457 .elementor-element.elementor-element-1c6beed {
        width: 33.334%;
    }
    .elementor-457 .elementor-element.elementor-element-f05e6d4 {
        width: 66.666%;
    }
    .elementor-457 .elementor-element.elementor-element-5c5afde {
        width: 16.6666%;
    }
    .elementor-457 .elementor-element.elementor-element-654c448 {
        width: 14.866%;
    }
}

@media(max-width:1200px) and (min-width:768px) {
    .elementor-457 .elementor-element.elementor-element-f54380c {
        width: 100%;
    }
    .elementor-457 .elementor-element.elementor-element-82db278 {
        width: 50%;
    }
    .elementor-457 .elementor-element.elementor-element-30eec59 {
        width: 50%;
    }
    .elementor-457 .elementor-element.elementor-element-1c6beed {
        width: 100%;
    }
    .elementor-457 .elementor-element.elementor-element-f05e6d4 {
        width: 100%;
    }
    .elementor-457 .elementor-element.elementor-element-5c5afde {
        width: 50%;
    }
    .elementor-457 .elementor-element.elementor-element-654c448 {
        width: 50%;
    }
}